.container-post-form {
  width: 100%;

  form {
    width: 100%;
    margin-top: 20px;
    .label-textarea {
      width: 100%;
      display: flex;
      justify-content: center;
      textarea {
        width: 60%;
        height: 200px;
      }
    }
    .container-select-button {
      width: 100%;
      display: flex;
      justify-content: center;
      .select-button {
        width: 60%;
        select,
        button {
          background-color: rgb(219, 217, 217);
          border: none;
          border-radius: 5px;
          padding: 5px;
          margin-top: 5px;
        }
        button {
          margin-left: 10px;
        }
      }
    }
  }
}
